/* register.css */

.sign{
    margin-left: 84px;
    margin-top: 60px;
    width: 390px;
    border: 1px lightblue;
    background-color: lightblue;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}  
  .image-container .Note{
    position: relative;
    margin-left: 84px;
    margin-top: 10px;
    
  }

  
  .form-container {
    margin-left: 560px;
    position: relative;
    margin-top: -450px;
  }
  
  .form-title {
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 8px;
  }
  
  input {
    width: 220px;
    padding: 8px; /* Adjust the padding as needed */
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    margin-top: 15px;
    background: #D9D9D9;
    font-style: bold;

  }
  
  button {
    width: 240px;
    padding: 10px;
    background-color: lightblue;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }

  small{
    margin-bottom: 10px;
    font-size: 12px;
 
  }
  
 .newb .girl{
    width: 20%;
    margin-left: 75%;
    margin-top: -50px;
    height: 8cm;
 }